@model YuGiOhCards.Models.IndirimliUrunler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IndirimliUrunler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UrunId" class="control-label"></label>
                <select asp-for="UrunId" class="form-control" asp-items="ViewBag.UrunId"></select>
                <span asp-validation-for="UrunId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oran" class="control-label"></label>
                <input asp-for="Oran" class="form-control" />
                <span asp-validation-for="Oran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baslangic" class="control-label"></label>
                <input asp-for="Baslangic" class="form-control" />
                <span asp-validation-for="Baslangic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bitis" class="control-label"></label>
                <input asp-for="Bitis" class="form-control" />
                <span asp-validation-for="Bitis" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DigerKampanya" /> @Html.DisplayNameFor(model => model.DigerKampanya)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
